
body{
    background: rgb(84, 0, 126);
    font-family: 'Tangerine', sans-serif;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "main main"
     "title1 title1"
     "image texte"
     "medias medias"
     "title2 title2"
     "carte1 image1"
     "carte2 image2"
     "flashit flashit"
     "footer footer"   
}
nav{
    height:10vw;
    background:transparent;
    position:relative;
    margin-left:220%;
    margin-top:-20%;
  }
  .nav-links{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      list-style: none;
      width: 100%;
      height: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: auto;
          position:fixed;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; 
          clip-path: circle(100px at 90% -15%); 
          -webkit-clip-path: circle(100px at 90% -15%);
            -webkit-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
  }
  .nav-links li a{
      text-decoration: none;
      font-size: 40px;
      color:white;
      text-shadow: 0 0 60px rgba(202,228,225,0.8);
  }
   .nav-links :hover{
    background-image:-webkit-gradient(linear, left top, right top, from(white),  to(#ee82ee));
    background-image:-o-linear-gradient(left, white,  #ee82ee);
    background-image:linear-gradient(to right, white,  #ee82ee);
    background-clip: padding-box;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   -o-background-clip: text;
    color:transparent;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
   }
   /* animation nav and hamburger */
  .line1{
    width: 30px;
    height: 3px;
    background:white;
    margin: 5px;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
  }
.line2{
    width: 30px;
    height: 3px;
    background:white;
    margin: 5px;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
  }
.line3{
    width: 30px;
    height: 3px;
    background:white;
    margin: 5px;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
  }
  .container{
      position:absolute;
      cursor: pointer;
      right:15%;
      top:10%;
      -webkit-transform:translate(-5%, 50%);
          -ms-transform:translate(-5%, 50%);
              transform:translate(-5%, 50%);
      z-index: 2;
  }    
  .nav-links.open{
    background-color: rgb(145, 76, 194);
      clip-path:circle(1500px at 90% -10%); 
      -webkit-clip-path: circle(1500px at 90% -10%);
      z-index: 1;
}          
.toggle .line1{
 -webkit-transform: rotate(-45deg) translate(-5px, 6px);
     -ms-transform: rotate(-45deg) translate(-5px, 6px);
         transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
 -webkit-transform: rotate(45deg) translate(-5px, -6px);
     -ms-transform: rotate(45deg) translate(-5px, -6px);
         transform: rotate(45deg) translate(-5px, -6px);
}   
/*contact form page contact.html*/
#button-contact{
color:#eee;
}
#changeColor{
background-color:#f0c2f0;
}
/*grid area*/
.title1{  
    grid-area: title1;
}
.image{
    background-color: green;
    grid-area: image;
}
.texte{
    background-color: greenyellow;
    grid-area: texte;
}
.medias{
    background-color:goldenrod;
    grid-area: medias;
    }
.title2{
    background-color: yellow;
    grid-area: title2;
}
.carte1{
    background-color: violet;
    grid-area: carte1;
}
.image1{
    background-color: rosybrown;
    grid-area: image1;
}
.carte2{
    background-color: red;
    grid-area: carte2;
}
.image2{
    background-color: blueviolet;
    grid-area: image2;
}
.flashit{
    background-color: salmon;
    grid-area: flashit;
}
.footer{
    background-color: rgb(145, 27, 106);
    grid-area: footer;
}
/*first page begining*/
main{
    height: 100vh;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align:center;
  }
  /*effect javascript scroll*/
  .bg-active{
    background-color: #ffe1ff;
    }
  /* principal title portfolio */
  .intro-text h1{
    color:#FF00FF;
    font-size: 5vh;
    font-weight: 350;
    text-shadow: 0px 0px 5px x#FF00FF, 0px 0px 7px x#FF00FF;
  }
  /* first page about */
  .title1{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .about .container2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
  }
  .about-heading h1{
    margin-top:10%;
    font-size: 10rem;
    opacity: .3;
  }
  .about-heading h6{
  margin-top:-25%;
    font-size: 2rem;
    font-weight: 300;  
    color: #FF00FF;
  }
  #about-heading1{
    margin-top:-10%;
  }
  .about-text{
  margin-left:40%;
  margin-top:-40%;
  width: 50%;
  font-size: 1.4rem;
  font-weight: 300;   
  }
   /*photo of about hover photo*/
#photo-about{
    width: 450px;
    height: 325px;
    background: url("./meliquidbis.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius:2%;
    box-shadow: 6px 6px 8px;
   }
  #photo-about:hover{
    background: url("./meliquid1.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius:2%;
    box-shadow: 6px 6px 8px;
   }